*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.nav{
	background-color: #202020;
	padding: 1rem 2rem;
	width: 100%;
	position: fixed;
	top: 0;
}

.navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.desktopView > li{
	display: inline;
	padding: 1rem;
	color: white;
	font-size: 1.25rem;
}

.logo {
	color: ghostwhite;
}

.paragraph {
	padding: 1rem;
	margin-top: 4rem;
	background-color: #f5f5f5;
	text-align: center;
}


.respNav{
	background-color: #101010;
	padding: 1rem 2rem;
}

.respNavbar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.menuItem > li{
	display: inline;
	padding: 1rem;
	color: whitesmoke;
	font-size: 1.25rem;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.25rem;
}

.menu > span {
	background-color: white;
	margin: 0.15rem 0.15rem 0.15rem 0.15rem;
	width: 1.75rem;
	height: 0.25rem;
}

.menu:hover {
	background-color: #000;
	border-radius: 50%;
} 

.menu:active {
	background-color: #353535;
	animation-duration: 0.5s;
	animation-name: ripple;
	border-radius: 50%;
}

@keyframes ripple {
	from{
		width: 0;
		height: 0;
	}
	to{
		width: 3rem;
		height: 2.25rem;
	}
}