body{
    background-color: rgb(58, 58, 58);
    margin: 0;
}

div.container{
    background-color: rgb(13, 15, 17);
    width: 300px;
    height: 300px;
    position: relative;
}
div.red{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 132, 132);
    position: absolute;
    right: 0px;   
}

div.blue {
    width: 100px;
    height: 100px;
    background-color: rgb(134, 201, 255);
    position: absolute;
    left: 100px;
    top: 0;    
}

div.yellow{
    width: 100px;
    height: 100px;
    background-color: rgb(250, 250, 162);
    position: fixed;
    left: 0;
    top: 0;
}